.list-teams {
    &__header {
        margin: 5px 0px 5px 0px;
    }
    &__header-btn-add-user {
        .ant-btn-primary {
            background: #1890ff;
            border-color: #1890ff;
            border-radius: 18px;
        }
    }
    &__header-switch {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        >button {
            margin-right: 20px;
        }
    }
    &__header-thead{
        &__th{
            padding: 14px 6px;
            background: #e5e5e5;
            font-family: Roboto Condensed,Arial,sans-serif;
            font-size: 10px;
            letter-spacing: 1px;
            font-weight: 700;
            min-width: 20px;
        }
        &__th1{
            padding: 14px 6px;
            background: #e5e5e5;
            font-family: Roboto Condensed,Arial,sans-serif;
            font-size: 10px;
            letter-spacing: 1px;
            font-weight: 700;
            min-width: 400px;
        }

    }
}

.users-active {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 15px;
    .ant-list-item-meta {
        display: flex;
        align-items: center;
    }
    .ant-btn-primary {
        background: #001529;
        border-color: #001529;
        border-radius: 18px;
    }
    .ant-btn-danger {
        background: #001529;
        border-color: #001529;
        border-radius: 18px;
    }
}