.show-state {
    height: 100%;
    &__show-form{
        padding: 5px;
        &__info{
            height: 50%;
            .ant-avatar{
                width: 80px;
                height: 80px;
            }
        }
        &__descriptions{
            height: 60%;
            .ant-descriptions-row > th, .ant-descriptions-row > td {
                padding-bottom: 16px;
            }
            .ant-descriptions-view table {
                margin: 10px 0px 0px 0px;
            }
        }
    }
}   