.list-menus {
    padding: 0px 0px 65px 0px;
    &__header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 5px 0px 5px 0px;
    }
    &__header-btn-add-user {
        .ant-btn-primary {
            background: #1890ff;
            border-color: #1890ff;
            border-radius: 18px;
        }
    }
}

.users-active {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 15px;
    .ant-list-item-meta {
        display: flex;
        align-items: center;
    }
    .ant-btn-primary {
        background: #001529;
        border-color: #001529;
        border-radius: 18px;
    }
    .ant-btn-danger {
        background: #001529;
        border-color: #001529;
        border-radius: 18px;
    }
}