.list-teams {
    padding: 0px 0px 65px 0px;
    
    &__header {
        display:flex;
        margin: 5px 0px 5px 0px;
       /* .ant-select {
            position: unset!important;
        }*/
        /*.ant-select:not(.ant-select-customize-input) .ant-select-selector {
            position: unset!important;
        }*/

    }
    .ant-card-body {
        padding: 8px!important;
    }    
    .ant-list-item {
        padding: 0px!important;
    }
    &__header-btn-add-user {
        .ant-btn-primary {
            background: #1890ff;
            border-color: #1890ff;
            border-radius: 18px;
        }
    }
    &__header-switch {
        display: grid;
        margin: 5px;
    }
    &__header-thead{
        &__th{
            padding: 14px 6px;
            background: #e5e5e5;
            font-family: Roboto Condensed,Arial,sans-serif;
            font-size: 10px;
            letter-spacing: 1px;
            font-weight: 700;
            min-width: 20px;
        }
        &__th1{
            padding: 14px 6px;
            background: #e5e5e5;
            font-family: Roboto Condensed,Arial,sans-serif;
            font-size: 10px;
            letter-spacing: 1px;
            font-weight: 700;
            min-width: 400px;
        }

    }
    &__descriptions {
        display: flex;
    }

   /* .ant-spin-container {
        position: unset!important;
    }
    .ant-table{
        position: unset!important;
    }
    .ant-table-thead > tr > th {
        position: unset!important;
    }    
    .ant-spin-nested-loading {
        position: unset!important;
    }
    .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
        position: unset!important;
    }    
    .ant-avatar-image {
        position: unset!important;
    }    */
    &__list{
            width: 300
    }
}

.descriptionPts {
    display: flex;
    margin: 2px;
    >b{
        width: 50%!important;
        text-align: end;
        margin: 10px;
    }
    >div {
        >img{
            width: 35px;
            max-height: 35px;
        }
    }

}

.cardScore{
    margin: 5px;
    width: 300px;
    height: 240px;
}
